.back-imagen{
    background-image: url(img/diablo.jpg);

}
.texto-resaltado{
    text-shadow: 3px 3px 7px black;
    color: white;
}
img {
    width: 960px;
    height: 600px;
    border: 10px solid #ccc;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;  }
select{
  display: block;
  width: 100%;
}    
    
.h1{
    animation: anim1 1s infinite linear;
}   
.h2{
  
    animation: anim1 1s infinite linear;
    animation-iteration-count: 1;
  
}
@keyframes anim1 {
    0% {
        font-size: 40px;
      }
      50% {
        font-size: 80px;
      }
      100% {
        font-size: 50px;
      }
} 